@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-centered { @apply max-w-7xl mx-auto px-6 }
  .perspective { perspective: 1200px; }
  .transform-style-preserve-3d { transform-style: preserve-3d; }
  .backface-hidden { backface-visibility: hidden; }
  .rotate-y-180 { transform: rotateY(180deg); }
}

html, body, #root { height: 100%; }
body { @apply bg-blue-100; }

body {
    font-family: 'Geist', sans-serif;
    
}
